[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
django = "==3.2.8"
django-rest-multiple-models = "*"
django-cors-headers = "*"
psycopg2-binary = "*"
django-debug-toolbar = "*"
drf-access-policy = "*"
Pillow = "*"
coreapi = "*"

[dev-packages]

[requires]
python_version = "3.8"
